{% load static %}

<html>

    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

    </head>

    <div class="container bg-black shadow-md p-5 form-layout">
        <h3> Dashboard </h3>
        <br>
        <a href={% url 'createtask' %}> Create task </a>
        <br>
        <a href={% url 'viewtasks' %}>  View tasks </a>
        <br>
        <a href={% url 'logout' %}> Logout </a>
    </div>

</html>