{% load static %}

<html>

    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

    </head>

    
        <h3> Tasks </h3>

        {% for t in task %}
        <div class="container bg-black shadow-md p-5 form-layout" style="margin-top: 20px;">
           

            {{t.title}}

            <br><br>

            {{t.content}}

            <br>

            <a href={% url 'updatetask' t.id %}> Update task </a>
            <a href={% url 'deletetask' t.id %}> Delete task </a>

            
        </div>
        {% endfor %}

</html>